.lead {
  max-width: 984px;
  padding: 0 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .lead {
    padding: 0 48px;
  }
}

@media (max-width: 800px) {
  .lead {
    padding: 0;
  }
}
