.footer {
  padding: 0 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media (max-width: 710px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 0 16px 24px;
  }
}
