.place__website {
  grid-area: website;
  align-self: end;
  min-height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (max-width: 510px) {
  .place__website {
    padding-left: 16px;
  }
}
